<div class="flex flex-col items-center justify-center">
  <div class="w-full bg-gray-100 h-[80px] flex items-center justify-between p-5">
    <a class="text-2xl cursor-pointer text-green-900 font-semibold" href="/">SkillSync</a>
  </div>

  <div class="w-[500px]">
    @if(userService.errorMessage){
    <p class="text-red-700 font-semibold text-center mt-4">{{userService.errorMessage}}</p>
    }

  <div class="flex items-center justify-center min-h-[80vh]">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()"
      class="w-[500px] min-h-[420px] bg-gray-100 flex flex-col rounded-lg shadow-lg m-4">
      <h1 class="p-4 mt-4 font-semibold text-3xl text-center">Login Page</h1>

      <div class="w-[410px] m-4 ml-11">
        <div>
          <h1>Email</h1>
          <input type="email"
            class="bg-white w-full mt-2 p-[10px] shadow-lg rounded-sm focus:outline-none text-gray-500 border-0"
            [ngClass]="{
              'border border-1 border-red-500': email.touched && email.errors,
              'border-1 border-green-600': !email.errors
            }" placeholder="example@gmail.com" formControlName="email" />
          @if(email.touched && email.errors){
          <p class="py-2 text-red-700 font-semibold">Username can't be Empty</p>
          }
        </div>

        <div class="mt-4">
          <h1>Password</h1>
          <input type="password"
            class="bg-white w-full mt-2 p-[10px] shadow-lg rounded-sm focus:outline-none text-gray-500"
            placeholder="At least 6 letters" [ngClass]="{
              'border border-1 border-red-500': password.touched && password.errors,
              'border border-1 border-green-600': !password.errors
            }" formControlName="password" />
          @if(password.touched && password.errors?.required){
          <p class="py-2 text-red-700 font-semibold">Password can't be Empty</p>
          }
          @if(password.errors?.minlength){
          <p class="py-2 text-red-700 font-semibold">Password should have atleast 6 characters</p>
          }
        </div>

        <button class="p-3 w-full mt-6 bg-black text-white rounded-md shadow-lg cursor-pointer font-semibold"
          [disabled]="loginForm.invalid">
          Login Now
        </button>

        <div class="mt-6 flex items-center justify-between">
          <h1>Not Registered?</h1>
          <a href="register" class="cursor-pointer text-green-900 hover:underline">Register Now</a>
        </div>
      </div>
    </form>
  </div>
</div>