<div class="w-full bg-gray-100 shadow-lg border border-gray-300 h-20 flex items-center justify-between px-6">
  <h1
    class="text-2xl font-semibold text-green-900 cursor-pointer"
    routerLink="/jobseekers"
  >
    SkillSync
  </h1>
  <div class="relative overflow-visible">
    <div
      (click)="toggleDropdown()"
      class="bg-green-700 p-2 rounded-full cursor-pointer hover:bg-green-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
    </div>
    <div
      *ngIf="isDropdownOpen"
      class="absolute top-full right-0 mt-2 min-w-64 origin-top-right bg-white border border-green-500 rounded-md shadow-lg z-50 transition-all duration-200 ease-out"
    >
      <div class="px-4 py-3 flex items-center gap-2">
        <p class="text-sm font-semibold text-green-800">User Email : </p>
        <p class="text-sm text-orange-600 truncate">{{ email }}</p>
      </div>
      <div class="border-t border-green-200"></div>
      <div class="flex items-center justify-between p-2 ">
        <a
          [routerLink]="['profile']"
          class="text-sm text-green-700 hover:underline hover:text-green-900 cursor-pointer"
        >
          View Profile
        </a>
        <button
          (click)="logout()"
          class="text-left text-sm text-red-600 hover:text-red-800"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</div>
